
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.icomen{
  margin-right: 20px;
}



.App-link {
  color: #61dafb;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* custom-context-menu.css */

  /* Change the background color of the menu items */
.p-contextmenu .p-menuitem {
  background-color: white;
}

/* Change the font color of the menu items */
.p-contextmenu .p-menuitem-text {
  color: darkred !important;
}

/* Change the background color of the menu items on hover */
.p-contextmenu .p-menuitem:hover {
  color:yellow !important;

}

/* Change the font color of the menu items on hover */
.p-contextmenu .p-menuitem:hover .p-menuitem-text {
  color: #fff;
}

.p-menuitem-active .p-menuitem-link{
  background-color: #6869F5 !important;
  color: whitesmoke !important;
}
.p-menuitem-active .p-menuitem-link .p-menuitem-text{
  color: whitesmoke !important;
}

